<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <button>Click</button>
    <div>
        @RenderBody()
    </div>
</body>
</html>
